/*in this case flex was a better option than grid because it allows the posters with grow as needed
in the bidimensional layout, with grid i would had to define a grid-column for every width that
the posters had and it also lead to a lot od empty space*/
.wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 15px 10px;
    padding: 10px 20px 10px 0;
}

.wrapper :global(.loader){
    width: 100%;
}