.posterCard{
    position: relative;
    padding: 0;
    margin: 0;
    isolation: isolate;
    width: 200px;
    border-radius: .5em;
}

.backdropCard{
    width: 300px;
}

.posterWrapper{
    /*text-decoration: none;*/
}

.poster{
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1.5;
    overflow: hidden;
}

.poster img{
    border-radius: .5em .5em 0 0;
}

.poster::after{
    --height:6px;
    display: block;
    content: "";
    position: absolute;
    top: calc(100% - var(--height));
    /*right: 100%;*/
    left: calc(14px*4);
    height: var(--height);
    width: 100%;
    background: var(--secondaryColor);
    z-index: 2;
    /*transform: translate(calc(14px*3),calc(100% - 50px));*/

}


.backdropCard .poster{
    aspect-ratio: 16 / 9;

}

.rating{
    padding: 0 5px;
    position: absolute;
    transform: translateY(-60%);
    z-index: 4;
}


.title{
    padding: 5px;
    margin-top: 15px;
    display: -webkit-box;
    color:var(--color);
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}