.wrapper {
    display: inline-grid;
    width: fit-content;
    grid-template-areas: "profile name"
                        "profile job";
    gap: 0 5px;
    align-items: center;
}

.profile{
    position: relative;
    grid-area: profile;
    aspect-ratio: 1 / 1.25;
}

.profile img {
    /*border-radius: .5em 0 0 .5em;*/
    border-radius: .5em;
}

.name{
    font-weight: bold;
    white-space: nowrap;
}

.job{
    font-weight: lighter;
    white-space: nowrap;
}

.small{
    grid-template-columns: minmax(60px, 25%) 1fr;
}

.medium {
    grid-template-columns: minmax(100px, 25%) 1fr;
}
