.mainShow{
    display: flex;
    padding: 1em 2em;
    position: relative;
    align-items: flex-end;
    background-image:linear-gradient(
            to right,
            var(--primaryColor) 0%,
            transparent 50%
            ),
            var(--bgImage,url("../../../public/noPhotographyPlaceholder.svg"));
    background-repeat: no-repeat;
    background-size: cover;
}

.info{
    display:flex;
    flex-direction: column;
    gap:5px;
    z-index: 2;
}

.info h2{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: pre-wrap;
}

.info h2 a{
    color: inherit;
}

.info p small{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    white-space: pre-wrap;
}

.actions{
    position: absolute;
    top: 15px;
    right: 15px;
}

.option {
    display: flex;
    align-items: center;
    gap: 5px;
}

.buttons{
    display: flex;
    align-items: flex-start;
    gap:5px
}

.buttons > * {
    flex-grow: 0;
    flex-shrink: 0;
}

@media (min-width: 768px) {

    .mainShow{
        height: 100vh;
        padding-bottom: 4em;
    }

    .info{
        width: 40%;
    }
}

@media (max-width: 768px) {
    .mainShow{
        height: 300px;
        background-size: cover;
        background-position: center;
    }

    .bigTitle{
        font-size: 1.25em;
    }

    .info p{
        display: none;
    }

}

.placeholderBanner{
    background-position: center;
    background-size: 25%;
}
