.button{
    display: inline-block;
    padding: .875em;
    border-radius: 100%;
    font-size: 16px;
    width: 3.5em;
    aspect-ratio: 1 / 1;
    margin-bottom: 0;
}

.button:not(:global(.outline),:global(.secundary),:global(.contrast)){
    background: hsl(205deg, 15%, 41%,.4);;
}

.sm{
    font-size: 14px;
    width: 2.5em;
    padding: .5em;
}

.xs{
    font-size: 12px;
}