.wrapper {
    display: inline-grid;
    width: 100%;
    gap: 0 5px;
    align-items: center;
}

.profile{
    position: relative;
    grid-area: profile;
    aspect-ratio: 1 / 1.25;
}

.name{
    font-weight: bold;
    text-transform: capitalize;
}

.description p{
    font-weight: lighter;
    text-transform: capitalize;
}

.episodes{
    font-size: 14px;
}

.small{
    grid-template-columns: minmax(60px, 20%) 1fr;
    grid-template-areas: "profile name"
                        "profile job";
}

.small img {
    border-radius: .5em;
}

.medium img {
    border-radius: .5em .5em 0 0;
}

.medium{
    width: fit-content;
    grid-template-columns: minmax(100px,175px);
    grid-template-areas: "profile"
                        "name"
                        "job";
}

.name,.description{
    padding: 0 .5em;
}

.medium .name,.medium .description{
    text-align: center;
}

.medium .description{
    font-size: .8em;
}

.noShadow{
    box-shadow: unset;
}

@media screen and (min-width: 768px){
    .medium {
        width: unset;
        grid-template-columns: minmax(100px, 25%) 1fr;
        grid-template-areas: "profile name"
                        "profile job";
    }

    .medium img {
        border-radius: 0.5em 0 0 .5em;
    }

    .medium .name,.medium .description{
        text-align: start;
    }
    .medium .description{
        font-size: 1em;
    }
}