* {
  box-sizing: border-box;
/*  padding: 0;*/
/*  margin: 0;*/
}

body,*::after,*::before{
  --blackValues:1, 1, 3;
  --black:rgba(var(--blackValues));
  --whiteValues:243, 241, 239;
  --white:rgba(var(--whiteValues));
  --grayValues:190, 178, 163;
  --gray:rgba(var(--grayValues));
  --redValues:162, 1, 11;
  --red:rgba(var(--redValues));
  --blueValues:15, 96, 146;
  --blue:rgba(var(--blueValues));
  --orangeValues:232, 132, 63;
  --orange:rgba(var(--orangeValues));
}

:is(*,*::before,*::after)::-webkit-scrollbar {
  /*display: none;*/
  --size:.35em;
  height: var(--size);
  width: var(--size);
  /*width: ;*/
  background: gray;
}

:is(*,*::before,*::after)::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

:is(*,*::before,*::after)::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 15px;
}

h1,h2,h3,h4,h5,h6{
  margin: 0;
}