.mainShow{
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 60vh;
    isolation: isolate;
    overflow: hidden;
}

.info{
    padding: 1em;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    overflow: hidden;
}

.info p small{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    white-space: pre-wrap;
}

.imageWrapper{
    position: relative;
    /*width: 50%;*/
}

.mainShow img {
    mask-image: linear-gradient(
            to right,
            transparent 0%,
            black 25%,
            rgba(0,0,0,1) 100%
    );
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.actions{
    display: flex;
    justify-content: center;
}

@media (min-width: 579px) {
    .info{
        width: 60%;
        bottom: unset;
    }

    .mainShow img {
        width: 65%;
    }

    .actions{
        justify-content: flex-start;
    }
}

@media (min-width: 992px) {
    .info{
        width: 50%;
    }
}