.footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    justify-items: center;
    padding: 1em;
    background: var(--primaryDarker);
}

.footer > * {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.tmdbLogo{
    align-items: center;
}

@media screen and (min-width: 768px) {
    .footer{
        justify-content: start;
    }
}