.season{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0 10px;
    padding-right: .5em;
}

.select{
    width: 40%;
    max-width: 300px;
}

.posterWrapper{
    position: relative;
    width: 125px;
    aspect-ratio: 1 / 1.5;
}

.posterWrapper img {
    border-radius: .25em;
}

.title{
    padding-top: .25em;
}

.date{
    font-weight: lighter;
}

.episodes{
    font-weight: lighter;
    padding-bottom: .25em;
}

.plot{
    text-align: justify;
}