.season{
    display: grid;
    /*grid-template-areas: "poster title"*/
    /*                    "poster date"*/
    /*                    "poster episodes"*/
    /*                    "poster plot";*/
    /*grid-template-rows: 1fr 1fr 1fr;*/
    grid-template-columns: auto 1fr;
    gap: 0 10px;
    padding-right: .5em;
}

.posterWrapper{
    position: relative;
    width: 125px;
    aspect-ratio: 1 / 1.5;
}

.posterWrapper img {
    border-radius: .25em;
}

.title{
    padding-top: .25em;
}

.date{
    font-weight: lighter;
}

.episodes{
    font-weight: lighter;
    padding-bottom: .25em;
}

.plot{
    text-align: justify;
}