.wrapper{
    padding: 0 1em;
}

.header{
    display: grid;
    grid-template-columns: 25vw 2fr;
}

.poster{
    padding: 1em;
}

.poster > div{
    position: relative;
    left: 20%;
    display: grid;
    aspect-ratio: 9 / 14;
}

.poster img {
    border-radius: .5em;
}

.banner{
    position: relative;
}

.banner img{
    mask-image: linear-gradient(
            to right,
            transparent 0%,
            var(--primaryColor) 25%,
            var(--primaryColor) 100%
    );
}

.genres{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.title{
    text-align: center;
}

.title small{
    font-size: 20px;
}

.extraInfo{
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cast {
    display: flex;
    flex-wrap: nowrap;
    gap: 15px;
}

/*.cast {*/
/*    display: grid;*/
/*    grid-template-columns: repeat(auto-fill, minmax(min(15rem, 100%), 1fr));;*/
/*    gap: 15px;*/
/*    padding: .25em;*/
/*    max-height: 300px;*/
/*    overflow: auto;*/
/*}*/

