.wrapper{
    position: relative;
}

.options{
    --arrowPosition:10%;
    width: max-content;
    position: absolute;
    top: 0;
    right: calc(100% + 15px);
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    gap: 5px;
    z-index: 5;
    padding: 5px;
    border-radius: .25em;
    border: 1px solid var(--primaryLight);
    transition: transform .2s;
    transform: scale(0,0);
    transform-origin: right var(--arrowPosition);
}

.options::before,.options::after{
    --arrowSize:10px;
    content: "";
    position: absolute;
    top: var(--arrowPosition);
    left: 100%;
    width: 0;
}

.options::after {
    border-left: var(--arrowSize) solid var(--background-color);
    border-top: var(--arrowSize) solid transparent;
    border-bottom: var(--arrowSize) solid transparent;
}

.options::before {
    --size: calc(var(--arrowSize) + 1px);
    border-left: var(--size) solid var(--primaryLight);
    border-top: var(--size) solid transparent;
    border-bottom: var(--size) solid transparent;
    top: calc(var(--arrowPosition) - 1px)
}


.show{
    transform: scale(1,1);
}

.options > *{
    flex-basis: 100%;
    margin: 0;
}

