.average{
    --fontSize:14px;
    display: inline-grid;
    place-items: center;
    position: relative;
    font-size: var(--fontSize);
    width: 4em;
    padding: 1em;
    background: var(--dark);
    border-radius: 100%;
    color: whitesmoke;
    aspect-ratio: 1 / 1;
    isolation: isolate;
}

.small{
    --fontSize: 12px;
}

.bg{
    --fontSize: 18px;
}

.average::before,
.average::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 100%;
    aspect-ratio: 1/1;
}

.average::before{
    background: conic-gradient(
            var(--secondaryDark) var(--degree,0), transparent var(--degree,0));
    width: calc(100% - var(--fontSize)/2);
    z-index: -2;
}

.average::after{
    background: inherit;
    z-index: -1;
    width: calc(100% - var(--fontSize));
}

.average span{
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .bg{
        font-size: 16px;
    }
}