.header{
    position: relative;
    display: grid;
    grid-template-columns: minmax(125px,1fr) 2fr;
    place-items: center;
    background-image:linear-gradient(
            to right,
            var(--primaryColor) 0%,
            transparent 50%),
            var(--bgImage,url("../../../public/noPhotographyPlaceholder.svg"));
    background-repeat: no-repeat;
}

.poster{
    width: 100%;
    padding: 1em;
}

.poster > div{
    max-width: 300px;
    position: relative;
    left: 10%;
    display: grid;
    aspect-ratio: 1 / 1.5;
}

.poster img {
    border-radius: .5em;
}

.generalInfo{
    padding: 0 1em;
    grid-column: 1 / -1;
}

.generalInfo > *:not(:first-child,:last-child){
    padding-bottom: .25em;
    border-bottom: 1px solid var(--primaryLight);
}

.genres{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.title{
    text-align: center;
}

.title .year{
    font-size: 20px;
    font-weight: lighter;
}

.overview{
    text-align: justify;
}
.overview small {
    display: block;
}

.flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: .25em 0;
}

.crew{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: start;
    gap: 10px;
    padding: .25em 0;
}

/*big screen*/
@media screen and (min-width: 768px){

    .header{
        padding: 0 1em;
        place-items: stretch;
        background-position: top center;
        background-size:cover;
    }

    .poster{
        /*max-width: 300px;*/
        padding: 1em;
    }

    .poster > div{
        left: 0;
    }

    .poster img{
        border-radius: .5em;
    }

    .poster,.generalInfo{
        z-index: 1;
    }

    .generalInfo{
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 1em;
        grid-area: unset;
    }

    .title{
        text-align: start;
    }

    .overview small {
        overflow: auto;
        scrollbar-gutter: stable both-edges;
    }

    .flex:not(.titleWrapper){
        justify-content: start;
        gap: 2em;
    }

    .crew{
        justify-content: space-between;
    }

    .titleSmall{
        font-size: 26px;
    }

    .titleSmall .year{
        font-size: 20px;
    }
}


/*small screen*/
@media screen and (max-width: 768px){
    .header{
        background-position: top right;
        background-size: 82%;
    }

    .title{
        font-size: 22px;
    }

    .title .year{
        font-size: 18px;
    }

    .titleSmall{
        font-size: 20px;
    }

    .titleSmall .year{
        font-size: 16px;
    }
}