.prevArrow,.nextArrow{
    height: 60px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5em .25em;
    background: var(--primaryColor-60);
    border-radius: 5px;
    border:1px solid whitesmoke;
    margin: 0;
    z-index: 1;
}

.prevArrow:hover,.nextArrow:hover{
    background: var(--primaryColor-60);
}

.prevArrow svg,.nextArrow svg{
    width: 100%;
    color:whitesmoke;
}

.prevArrow:hover svg,.nextArrow:hover svg{
    color: var(--primaryLight);
}

.prevArrow{
    left: 0;
}

.nextArrow{
    right: 0;
}

.withGap :global(.slick-track){
    display: flex;
    gap: 10px;
    /*align-items: stretch;*/
}

.withGap :global(.slick-track) > *{
    /*width: 100%;*/
    /*margin-left: 10px;*/
}

.slider{
    position: relative;
    display: flex;
    align-items: center;
}

.track{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    padding: .5em 0;
    gap:10px;
    scroll-behavior: smooth;
}

.arrowsInContent{
    position: absolute;
}